.SubmitStory {
    margin: 0 25px;
}

.ss-Top-Section {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.container {
    width: 80%;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    padding-top: 15px;
}

form {
    margin-top: 50px;
    font-family: "Oxygen", sans-serif;
}

.top-Left input {
    width: 355px;
    height: 42px;
    margin: auto;
    border-radius: 5px;
    background: #d2ddd3;
    outline: none;
    border: #5da7e7;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
}

.top-Right {
    width: 326px;
    margin-right: 185px;
    font-family: "Oxygen", sans-serif;
    color: #04480b;
    height: 212px;
    margin-top: 13px;
    text-align: center;
    padding-top: 19px;
}

.top-Right-Links a {
    margin: 20px;
    color: #04480b;
    text-decoration: underline;
    margin-left: 19px;
    margin-right: 32px;
    font-size: 16px;
    font-weight: bolder;
}

.top-Right p {
    margin: 20px 0;
    text-align: start;
    margin-left: 20px;
    width: 272px;
    padding-left: 10px;
}

.top {
    padding: 0 1rem;
    justify-content: space-between;
}

.info {
    width: 50%;
}

.anon-label {
    font-size: 0.8rem;
}

.resources {
    width: 40%;
    text-align: center;
}

.resources p {
    font-size: 0.9rem;
    margin: 1rem 0;
}

.resources .links a {
    color: #3d443e;
}

#ss-Bottom-Section {
    background: #f4f4f4;
    padding: 30px;
    margin: 0 210px;
    margin-bottom: 12px;
}

.bottom {
    padding: 1rem;
    margin-top: 75px;
    border-radius: 6px;
    justify-content: space-between;
    background-color: #f4f4f4;
}

.bottom textarea {
    width: 60%;
    border-radius: 6px;
    margin-right: -9px;
    text-align: center;
    padding-top: 46px;
}

.bottom .addImg {
    width: 30%;
    padding: 1rem 0 1.5rem;
    border-radius: 6px;
    text-align: center;
    background-color: #d2ddd3;
}

.bottom .addImg h3 {
    color: #242825;
    font-size: 1.6rem;
    font-weight: normal;
}

.ss-Bottom-Right i {
    color: #2c4f2f;
    font-size: 49px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.bottom .addImg p {
    margin: 1rem 0;
    font-size: 0.9rem;
}

.bottom .addImg button {
    color: #242825;
    border: solid 2px #242825;
    padding: 0.3rem 1rem;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.9rem;
    background-color: transparent;
}

.form-buttons {
    display: flex;
    margin-top: 100px;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: auto;
}

.form-buttons button {
    color: white;
    border: none;
    padding: 0.3rem 2rem;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
}

.home-text-link a {
    color: black;
    font-family: "Oxygen", sans-serif;
    font-size: 18px;
}

.home-text-link {
    margin-bottom: 49px;
    color: black;
    font-family: "Oxygen", sans-serif;
    font-size: 18px;
    margin-left: 210px;
    width: 114px;
    height: 24px;
    margin-top: 12px;
    font-weight: bold;
    text-decoration: underline;
}

textarea {
    width: 563px;
    border-radius: 6px;
    border: none;
    padding: 1rem;
    background-color: #d2ddd3;
    font-size: 1.5rem;
    outline: none;
    border: #5da7e7;
    height: 668px;
}

textarea::placeholder {
    font-size: 18px;
    padding-top: 10px;
}
