.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.container {
    width: 80%;
    max-width: 960px;
    margin: 0 auto;
    height: calc(100vh - 115px);
    display: flex;
    flex-direction: column;
}

form {
    margin-top: 50px;
    font-family: "Oxygen", sans-serif;
}

form h1 {
    color: #242825;
    margin-bottom: 75px;
}

form label {
    color: #242825;
    margin-bottom: 0.5rem;
}

form input {
    background-color: #d3ded4;
    border-radius: 6px;
    border: none;
    padding: 0.5rem;
    margin-top: 0.25rem;
    font-size: 0.9rem;
}

.top {
    padding: 0 1rem;
    justify-content: space-between;
}

.info {
    width: 50%;
}

.anon-label {
    font-size: 0.8rem;
}

.resources {
    width: 40%;
    text-align: center;
}

.resources p {
    font-size: 0.9rem;
    margin: 1rem 0;
}

.resources .links a {
    color: #3d443e;
}

.resources .links a:last-child {
    margin-left: 1rem;
}

.bottom {
    padding: 1rem;
    margin-top: 75px;
    border-radius: 6px;
    justify-content: space-between;
    background-color: #f4f4f4;
}

.bottom textarea {
    width: 60%;
    border-radius: 6px;
    border: none;
    padding: 1rem;
    font-size: 0.9rem;
    background-color: #d2ddd3;
}

.bottom .addImg {
    width: 30%;
    padding: 1rem 0 1.5rem;
    border-radius: 6px;
    text-align: center;
    background-color: #d2ddd3;
}

.bottom .addImg h3 {
    color: #242825;
    font-size: 1.6rem;
    font-weight: normal;
}

.bottom .addImg i {
    font-size: 2.5rem;
    margin-top: 1rem;
}

.bottom .addImg p {
    margin: 1rem 0;
    font-size: 0.9rem;
}

.bottom .addImg button {
    color: #242825;
    border: solid 2px #242825;
    padding: 0.3rem 1rem;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.9rem;
    background-color: transparent;
}

.form-buttons {
    display: flex;
    margin-top: 100px;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: auto;
}

.form-buttons button {
    color: white;
    border: none;
    padding: 0.3rem 2rem;
    font-size: 1rem;
    border-radius: 6px;
    background-color: #25742c;
}

.form-buttons button:last-child {
    margin-left: 2rem;
}
