.rs-Top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;

    user-select: none;
}


.rs-Top h1 {
    font-family: Oxygen;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
}

.body {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.rs-Top a {
    font-family: Oxygen;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #242825;
    border: 2px solid #242825;
    box-sizing: border-box;
    border-radius: 6px;
    margin-right: 188px;
    width: 188px;
    height: 48px;
    margin-top: 32px;
    cursor: pointer;
    align-items: center;
    text-align: center;
    padding: 8px;
    background-color: white;

    transition: color 0.2s, background-color 0.2s;
}


.rs-Top a:hover {
    text-decoration: none;
    color: white;
    background-color: #242825;
}


/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/

.StoriesCards {
    display: flex;
    border: 1px solid black;
    background: #F0F4F1;
    box-shadow: 0px 0.5px 6px rgba(180, 180, 180, 0.25);
    border-radius: 6px;
    justify-content: space-between;
    margin: 10px 16px;
    padding: 16px;
}


.card-Img {
    width: 420px;
    height: 326px;
    border-radius: 6px;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}

.card-Img img {
    width: 100%;
}

.story-Title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.stories-info {
    width: 467px;
}
.stories-info h1 {
    font-family: Oxygen;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    padding-left: 20px;
    padding-top: 20px;
}

.stories-info h3 {
    font-family: Oxygen;
    font-style: normal;
    font-weight: normal;
    color: gray;
    font-size: 24px;
    padding-left: 20px;
    padding-top: 0px;
    margin-right: 68px;
}

.stories-info h5 {
    font-family: Oxygen;
    font-style: normal;
    font-weight: normal;
    color: gray;
    padding-left: 20px;
    padding-top: 0px;
    margin-right: 68px;
}

.story-Text {
    width: 100%;
    height: 100%;
    display: flex;
    
    overflow: hidden;
    text-overflow: ellipsis;
}

.stories-info p {
    margin-left: 20px;
    margin-top: 8px;
    font-family: 'Domine', serif;
    text-overflow: ellipsis;
    text-align: start;
}


@media (max-width: 1120px) {
    body {

    }

    .StoriesCards {
        flex-direction: column-reverse;
        align-items: center;
        width: 580px;
        max-width: 90%;
    }

    .card-Img {
        width: 100%;
    }
}
