.Login h1 {
    padding-top: 100px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
}

.Login p {
    text-align: center;
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.error {
    display: flex;
    margin: 0 auto;
    color: crimson;
    padding: 12px;
}

.login-form input {
    width: 250px;
    height: 40px;
    padding: 8px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 5px;
    background: #D2DDD3;
    outline: none;
    border: #5DA7E7;
    font-size: 20px;
}

.login-form input::placeholder {
    padding-left: 15px;
    color: #879288;
}

.login-form button {
    width: 180px;
    height: 40px;
    margin: auto;
    border-radius: 5px;
    background-color: #25742C;
    color: white;
    margin-bottom: 25px;
    border: none;
    font-size: 20px;
    text-shadow: 1px 1px black;
    margin-top: 10px;

    transition: background-color 0.2s;
}

.login-form button:hover {
    background-color: #51C85C;
}

.login-form button:disabled {
    background-color: #123A16;
}

#register  {
    margin: 0 auto;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}

#register a {
    text-decoration: none;
    color: black;
    
    transition: color 0.2s;

}

#register a:hover {
    color: #F5C63D;
}